{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create Group</title>
  <link rel="stylesheet" href="{% static 'css/add_group.css' %}">
</head>
<body>
  <div class="group-box">
    <div class="button-container">
      <button onclick="window.history.back()">cancel</button>
      <button id="createGroupBtn">create</button>
    </div>
    <div class="group-name-container">
      <img src="{% static 'image/camera.png' %}" alt="Group Icon" class="group-icon">
      <input type="text" class="name-of-group" id="groupName" placeholder="Name of group">
    </div>
    <div class="group-name-container">
      <input type="text" class="name-of-member" id="memberInput" placeholder="Search members">
    </div>
    <div class="member-list" id="memberList">
      {% for friend in friends %}
        <div class="friend-item" data-username="{{ friend.contact.username }}">
          <input type="checkbox" class="friend-checkbox" value="{{ friend.contact.username }}">
          <span>{{ friend.contact.username }}</span>
        </div>
      {% empty %}
        <p>No friends found.</p>
      {% endfor %}
    </div>
  </div>
  <script type="module" src="{% static 'js/create_group.js' %}"></script>
</body>
</html>